/* styling for home page */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;}


body{
    background-color: white;
    font-family: "Open Sans", sans-serif
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
    color: rgb(0, 0, 0);
}

.logo img {
    margin-left: 142px; /* Move the logo slightly to the left */
    width: 195px;
}


.navbar .nav-links {
    display: none; /* Hide the list by default */
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    margin-right: 20px;
}

/* Menu toggle button styles */
.menu-toggle {
    background: none;
    border: none;
    color: #081B29;
    font-size: 26px;
    cursor: pointer;
    padding-bottom:12px;
    margin-right: 144px;
}


@media only screen and (min-width: 768px) {
  .nav-links {
        display: block; /* Show the list on larger screens */
    }
}

.slideshow-container {
    position: relative;
    max-width: 86%;
    margin: auto;
    overflow: hidden;
    height: 570px; /* Adjust the height as needed */
}

.mySlides {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}




.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; /* Center the image */
    
}

/* .text {
    position: fixed;
    bottom: 255px;
    left: 0px;
    background-color: #244AC2; 
    color: white;
    padding: 31px 115px;
    font-size: 24px;
    text-transform: uppercase;

} */

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Align to the right */
    transform: translateY(-50%);
    padding-right: 20px; /* Add padding to adjust position */
}

.prev, .next {
    cursor: pointer;
    font-size: 24px; /* Larger font size */
    padding: 16px;
    color: transparent;
    background: none; 
    border: none;
    user-select: none;
    display: none; /* Hides the previous arrow */
}



.next {
    position: absolute;
    z-index: 20;
    width: 90px;
    height: 118px;
    display: block;
    background-image: url(https://i.ibb.co/zhPPK5v/slide.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
    top: 50%;
    right: 0;
    margin-top: -28px; /* Half of the height to vertically center */
    cursor: pointer;
}

.indicators {
    position: absolute;
    bottom: 11px;
    right: 60px;
   
}


.dot {
    background-image: url(https://i.ibb.co/SNHw5WB/dot.png);
    width: 18px;
    height: 22px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 1px;
    border-radius: 50%;
    cursor: pointer;
    transform: rotate(0deg); 
    transition: transform 0.3s; /* Smooth transition for rotation */
}

/* Style for active dots */
.dot.active {
    /* Add styles for active dots here */
    filter: grayscale(100%); /* Example: grayscale to disable */
    opacity: 0.5; /* Example: reduce opacity */
    
}

.middle-section p{
    width: 76%;
    color: #061C2C;
    /* display: block; */
    font-size: 15.5px;
    line-height: 31px;
    font-weight: 300;
    padding: 0px;
}

.container {
    display: flex;
    align-items: center;
    padding: 50px 163px;
}
.text {
    flex: 2;
    margin-right: 20px;
}
.image {
    flex: 1;
}
.image img {
    max-width: 100%;
    height: auto;
    padding-bottom: 63px;
    position: static;
    left: 0px;
   
}
